.toolbar {
    background-color: #4d375882;
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.h2 {
    font-style: italic;
    color: khaki;
}